<div class="container">
    <h1>Összes komponens</h1>
    <div class="content-container" *ngIf="components.length > 0; else noComponents">
        <mat-card *ngFor="let component of components">                
            <div class="component-container">
                <mat-card-title>{{ component.compName }}</mat-card-title>
                <mat-card-subtitle>{{ component.brand }} - {{ component.status }}</mat-card-subtitle>
                <p>{{ component.description }}</p>
                <p><strong>Rendelte:</strong> {{ component.orderedBy?.username }}</p>
                <p><strong>Létrehozva:</strong> {{ component.createdAt | date:'short' }}</p>
                <p><strong>Frissítve:</strong> {{ component.updatedAt | date:'short' }}</p>
            </div>
            <div class="button-container">
                <button class="delete" mat-fab extended (click)="onDelete(component._id)">
                    <mat-icon>delete</mat-icon>
                    Törlés
                </button>
                <button class="edit" mat-fab extended (click)="onEdit(component._id)">
                    <mat-icon>edit</mat-icon>
                    Módosít
                </button>
            </div>
        </mat-card>
        <mat-paginator [length]="totalComponents" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>
  
<ng-template #noComponents>
    <p>Nincsenek elérhető komponensek.</p>
</ng-template>