<div>
    <h2 mat-dialog-title>Komponens szerkesztése</h2>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Név</mat-label>
        <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Típus</mat-label>
        <input matInput formControlName="type" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Márka</mat-label>
        <input matInput formControlName="brand" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Leírás</mat-label>
        <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Állapot</mat-label>
        <input matInput formControlName="status" />
    </mat-form-field>

    <div class="dialog-actions">
        <button mat-button type="button" (click)="onCancel()">Mégse</button>
        <button mat-button color="primary" type="submit" [disabled]="updateForm.invalid">Mentés</button>
    </div>
    </form>
</div>