<mat-toolbar>
    <span class="title">Nyilvántartó Rendszer</span>
    <div *ngIf="username" class="account">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
            {{ username }}
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">Kijelentkezés</button>
        </mat-menu>
    </div>
</mat-toolbar>

<main>
    <router-outlet></router-outlet>
</main>